<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    @*free template*@
    <link href="~/Content/User/fonts.css" rel="stylesheet" />
    <link href="~/Content/User/screen.css" rel="stylesheet" />
    @*customize*@
    <link href="~/Content/User/user-layout.css" rel="stylesheet" />
    @*fontawesome*@
    <link href="~/Content/fontawesome-free-5.0.8/css/fontawesome-all.min.css" rel="stylesheet" />
    @*nivo slider*@
    <link href="~/Content/nivo-slider.css" rel="stylesheet" />
    <script src="~/Scripts/jquery.nivo.slider.pack.js"></script>
    @*<script src="~/Scripts/jquery.nivo.slider.js"></script>*@
    <script type="text/javascript">
        $(window).on('load', function () {
            $('#slider').nivoSlider({
                effect: 'random',
                slices: 15,
                boxCols: 8,
                boxRows: 4,
                animSpeed: 1000,
                pauseTime: 3000,
                startSlide: 0,
                directionNav: true,
                controlNav: false,
                controlNavThumbs: true,
                pauseOnHover: false,
                manualAdvance: false,
                prevText: '',
                nextText: '',
                randomStart: false,
                beforeChange: function(){},
                afterChange: function(){},
                slideshowEnd: function(){},
                lastSlide: function(){},
                afterLoad: function(){}
            });
        });
    </script>  
</head>
<body>
    <div id="full-width">
        <section class="blank">
            <div class="flash">
                <div class="header-phone">
                    <i class="fas fa-phone"></i>
                    016789.30.159
                </div>
                <div class="register-login">
                    <i class="fas fa-user-plus"></i>
                    @Html.ActionLink("Đăng ký", "register", null, new { @class = "register" })
                    <i class="fas fa-sign-in-alt"></i>
                    @Html.ActionLink("Đăng nhập", "logIn", null, new { @class = "log-in" })
                </div>
            </div>
            <div class="flash success" id="nav-panel">
                <div id="txtSearch">
                    @using(Html.BeginForm())
                    {
                        @Html.TextBox("txtSearch", string.Empty, new {@class = "txtSearch",@placeholder="Tìm kiếm sản phẩm..." })
                        <div id="div-btnSearch">
                            <button type="submit"><img src="~/Resource/Image/icon_search.svg" /></button>
                        </div>
                    }
                </div>
                <ul class="nav-bar">
                    <li><a href="#">Trang Chủ</a></li><li><a href="#">Sản Phẩm</a></li><li><a href="#">Liên Hệ</a></li><li><a href="#">Hướng Dẫn</a></li><li><a href="#">Giới Thiệu</a></li>
                </ul>
            </div>
        </section>
        <section>
            <div id="menu-left">
                <div class="activity">
                    @Html.Action("ptvNewProduct", "Product")
                </div>
            </div>
            @*Slider*@
            <div id="slider" class="nivoSlider">
                <img src="~/Resource/Slider/i1.jpg" />
                <img src="~/Resource/Slider/i2.jpg" />
                @*<img src="~/Resource/Slider/i3.png" />*@
                <img src="~/Resource/Slider/i4.jpg" />
            </div>
        </section>
        <div style="clear:both;" ></div>
        <section>
            @RenderBody()
        </section>
        <section>
            <div>
                @Html.Action("ptvCategory", "Category")
            </div>
        </section>
        <section class="blank items">
            <div class="item">
                <img src="" alt="Image">

                <div class="item-info">
                    <h1>Item title</h1>
                    <p>What the hell is this? Get out of town, I didn't know you did anything creative. Ah, let me read some.</p>
                    <span class="price">£49.99</span>
                    <a href="#" class="button button-buy">Get it now</a>
                </div>
            </div>
            <div>
                <a href="#" class="button button-buy">Buy button (full width for columns)</a>
            </div>
        </section>
    </div>

</body>
</html>
